/* Reset Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* System Font Stack */
body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Custom Properties */
:root {
    --header-align-left: 2rem;
    --header-align-right: 4rem;
    --drop-shadow: 0 5px 3px rgba(0, 0, 0, 0.1);
}

/* Page Layout */
.container {
    display: grid;
    grid-template: 
        "sidebar header" 1fr 
        "sidebar content" 5.5fr 
        / 1fr 5fr;
}

.container > * {
    display: grid;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

/* Header */
.header {
    position: relative;
    grid-template: 1fr 1.5fr / 1fr .5fr;
    padding: 0.5rem 4.5rem 0 3rem;
    box-shadow: var(--drop-shadow);
}

.header > * {
    display: grid;
}

.search {
    grid-template-columns: 1fr 10fr;
    place-items: center;
    column-gap: 1rem;
}

.search-icon {
    justify-self: start;
}

.search input {
    width: 100%;
    justify-self: start;
    border: 0;
    background-color: rgba(225,232,240,255);
    border-radius: 20px;
    padding: .3rem .8rem;
}

.user-info {
    grid-template-columns: 1fr 1.5fr 3.5fr;
    place-items: center;
    padding-left: min(5rem, 20%);
}

.user-info-bell {
    justify-self: end;
}

.user-info-name {
    font-weight: bold;
    justify-self: start;
}

.user-greeting {
    grid-template: 1fr / 1fr 10fr;
    align-items: center;
}

.user-greeting-msg {
    padding-left: 1rem;
}

.user-greeting-name {
    font-weight: bold;
    font-size: 1.5rem;
}

.content-btn-container {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 0 1rem;
}

.content-btn {
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    padding: .5rem 2rem;
    color: white;
    background-color: rgba(25,145,211,255);
}

/* Sidebar */
.sidebar {
    background-color: rgba(24,146,211,255)
}

/* Content */
.content {
    background-color: rgba(225,232,240,255);
}