/* Reset Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* System Font Stack */
body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Custom Properties */
:root {
    --header-align-left: 2rem;
    --header-align-right: 4rem;
    --drop-shadow: 0 5px 3px rgba(0, 0, 0, 0.1);
    --sidebar-align-left: 1rem;
    --heading-row-size: 4rem;
    --card-radius: 8px;
}

/* Page Layout and General Styles */
.container {
    display: grid;
    grid-template: 
        "sidebar header" 1fr 
        "sidebar content" 5.5fr 
        / 1fr 5fr;
}

.container > * {
    display: grid;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.pfp {
    border-radius: 50%;
    min-width: 60px;
}

.icon {
    min-width: 2rem;
}

/* Header */
.header {
    position: sticky;
    top:0;
    background-color: white;
    grid-template: 1fr 1.5fr / 1fr .5fr;
    padding: 0.5rem 4.5rem 0 3rem;
    box-shadow: var(--drop-shadow);
}

.header > * {
    display: grid;
}

.search {
    grid-template-columns: auto 10fr;
    place-items: center;
    column-gap: 1rem;
}

.search-icon {
    justify-self: start;
}

.search input {
    width: 100%;
    justify-self: start;
    border: 0;
    background-color: rgba(225,232,240,255);
    border-radius: 20px;
    padding: .3rem .8rem;
}

.user-info {
    grid-template-columns: 1fr 1.5fr 3.5fr;
    place-items: center;
    padding-left: min(5rem, 20%);
    column-gap: 1rem;
}

.user-info-bell {
    justify-self: end;
}

.user-info-name {
    font-weight: bold;
    justify-self: start;
    font-size: 1.2rem;
}

.user-greeting {
    grid-template: 1fr / 1fr 10fr;
    align-items: center;
}

.user-greeting-msg {
    padding-left: 1rem;
}

.user-greeting-name {
    font-weight: bold;
    font-size: 1.5rem;
}

.content-btn-container {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 0 1rem;
}

.content-btn {
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    padding: .5rem 2rem;
    color: white;
    background-color: rgba(25,145,211,255);
}

/* Sidebar */
.sidebar {
    position: sticky;
    top:0;
    background-color: rgba(24,146,211,255);
    grid-template-rows: 1fr 10fr;
    height: 100vh;
    gap: 2rem 0;
}

.sidebar > * {
    display: grid;
    color: white;
}

.dashboard {
    grid-template-columns: 25% 1fr;
    align-items: center;
    padding-left: var(--sidebar-align-left);
}

.dashboard p {
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 1rem;
}

.dashboard img {
    fill: white;
    padding-left: .7rem;
    width: auto;
    max-width: 60px;
}

.nav-links {
    grid-template-rows: repeat(11, 1fr);
    height: 60%;
    align-items: center;
    grid-template-areas: 
        "dashboard"
        "home"
        "profile"
        "messages"
        "tasks"
        "communities"
        "."
        "."
        "settings"
        "support"
        "privacy";
    gap: 20px 0;
    padding-left: var(--sidebar-align-left);
}

.settings {
    grid-area: settings;
}

.support {
    grid-area: support;
}

.privacy {
    grid-area: privacy;
}

.nav-links > * {
    display: grid;
    grid-template-columns: 25% 1fr;
    align-items: center;
}

.nav-links li div {
    place-self: center;
}

.nav-links li a {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

/* Content */
.content {
    grid-template: "projects info" 1fr / 2.5fr 1fr;
    background-color: rgba(225,232,240,255);
    max-height: 100%;
    padding: 1.8rem 2rem 3.5rem 1.5rem;
}

.content h1 {
    padding: 1rem;
}

.projects {
    grid-area: projects;
}

.info {
    display: block;
    grid-area: info;
}

.projects h1 {
    grid-row: 1 / -1;
}

.project-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    padding-right: 1rem;
}

.project-card {
    box-shadow: var(--drop-shadow);
    border-radius: var(--card-radius);
    border-left: var(--card-radius) solid rgba(240,180,41,255);
    background-color: white;
    padding: 2rem;
}

.announcements > *:not(h1),
.trending > *:not(h1) {
    background-color: white;
}

.announcements-card-container,
.trending-card-container {
    display: grid;
    border-radius: var(--card-radius);
    padding: 2rem;
    box-shadow: var(--drop-shadow);
}

.announcement-card {
    padding: 1rem 0;
    border-top: 1px solid #ccc;
}

.announcement-card:nth-child(1) {
    padding-top: 0;
    border-top: 0;
}